<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VetManage.Web</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.43/material.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    @*<link rel="stylesheet" href="~/lib/timepicker/jquery.timepicker.min.css"/>*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.13.19/jquery.timepicker.min.css">

    <!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
</head>
<body>
    <header>
        <partial name="_Navbar"/> 
        @*@if(User.Identity.IsAuthenticated)
        {
            <partial name="_Sidebar"/>
        } 
        else if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            // TO DO
        }
        else
        {
        }*@
    </header>
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_Sidebar"/>
    }

    <div class="container-fluid">
        
        <main role="main" class="content">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2022 - VetManage.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @*<script type="module" src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/Form.js" asp-append-version="true"></script>
    <script src="~/js/Sidebar.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    @*<script src="~/lib/timepicker/jquery.timepicker.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/timepicker@1.13.19/jquery.timepicker.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://cdn.syncfusion.com/ej2/20.2.43/dist/ej2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" ></script>


    <ejs-scripts></ejs-scripts>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        feather.replace();
    </script>
</body>
</html>
