<aside class="sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item mb-3">
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">
        <i class="bi bi-house fa-xl me-2"></i>
            Home
        </a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">
            <i class="bi bi-shield fa-xl me-2"></i>
            Privacy
        </a>
      </li class="nav-item mb-3">
      <li class="nav-item mb-3">
        <a class="nav-link text-light" asp-area="" asp-controller="Owners" asp-action="Index">
            <i class="bi bi-person fa-xl me-2"></i>
            Owners
        </a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link text-light" asp-area="" asp-controller="Pets" asp-action="Index">
            <i class="bi bi-paw fa-xl me-2"></i>
            Pets
        </a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link text-light" asp-area="" asp-controller="Vets" asp-action="Index">
            <i class="bi bi-user-doctor fa-xl me-2"></i>
            Vets
        </a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="Index">
            <i class="bi bi-people fa-xl me-2"></i>
            Users
        </a>
      </li>
    </ul>
</aside>