<aside>
    <div class="sidebar flex-column open">
          <div class="nav-item my-3">
            <a class="text-light w-100" id="homeNav">
              <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item active">
                <i class="bi bi-house fa-xl"></i>
                <p class="mx-2 my-0">Home</p>
              </div>
            </a>
          </div>
          <div class="nav-item my-3">
            <a class="text-light w-100" id="ownersNav">
                <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item">
                    <i class="bi bi-person fa-xl"></i>
                    <p class="mx-2 my-0">Owners</p>
                </div>
            </a>
          </div>
          <div class="nav-item my-3">
            <a class="text-light w-100" id="petsNav">
                <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item">
                    <i class="bi bi-cart-plus fa-xl"></i>
                    <p class="mx-2 my-0">Pets</p>
                </div>
            </a>
          </div>
          <div class="nav-item my-3">
            <a class="text-light w-100" id="vetsNav">
                <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item">
                    <i class="bi bi-bag-plus fa-xl"></i>
                    <p class="mx-2 my-0">Vets</p>
                </div>
            </a>
          </div>
          <div class="nav-item my-3">
            <a class="text-light w-100" id="usersNav">
                <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item">
                    <i class="bi bi-people fa-xl"></i>
                    <p class="mx-2 my-0">Users</p>
                </div>
            </a>
          </div>
    </div>
</aside>