<aside>
    <div class="sidebar-container py-3">
        <div class="sidebar dark-5 flex-column open my-3" id="sidebar">
              <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Home" asp-action="Index">
                  <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="homeNav">
                    @*<i class="bi bi-house fa-xl"></i>*@
                    <i data-feather="grid" stroke-width="1"></i>
                    <p class="mx-2 my-0">Home</p>
                  </div>
                </a>
              </div>
              <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item">
                        @*<i class="bi bi-shield fa-xl"></i>*@
                        <i data-feather="shield" stroke-width="1"></i>
                        <p class="mx-2 my-0">Privacy</p>
                    </div>
                </a>
              </div>
              <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Owners" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="ownersNav">
                        @*<i class="bi bi-person fa-xl"></i>*@
                        <i data-feather="user" stroke-width="1"></i>
                        <p class="mx-2 my-0">Owners</p>
                    </div>
                </a>
              </div>
              <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Pets" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="petsNav">
                        @*<i class="bi bi-cart-plus fa-xl"></i>*@
                        <i data-feather="shopping-cart" stroke-width="1"></i>
                        <p class="mx-2 my-0">Pets</p>
                    </div>
                </a>
              </div>
              <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Vets" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="vetsNav">
                        @*<i class="bi bi-bag-plus fa-xl"></i>*@
                        <i data-feather="plus-circle" stroke-width="1"></i>
                        <p class="mx-2 my-0">Vets</p>
                    </div>
                </a>
              </div>
              <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Users" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="usersNav">
                        @*<i class="bi bi-people fa-xl"></i>*@
                        <i data-feather="users" stroke-width="1"></i>
                        <p class="mx-2 my-0">Users</p>
                    </div>
                </a>
              </div>
              <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Calendar" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="calendarNav">
                        @*<i class="bi bi-people fa-xl"></i>*@
                        <i data-feather="calendar" stroke-width="1"></i>
                        <p class="mx-2 my-0">Calendar</p>
                    </div>
                </a>
              </div>
              <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Messages" asp-action="Inbox">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="messagesNav">
                        @*<i class="bi bi-people fa-xl"></i>*@
                        <i data-feather="calendar" stroke-width="1"></i>
                        <p class="mx-2 my-0">Messages</p>
                    </div>
                </a>
              </div>
              <div class="nav-item mb-2">
                <a class="text-light w-100" asp-area="" asp-controller="Specialities" asp-action="Index">
                    <div class="px-4 d-flex flex-row justify-content-start align-items-center sidebar-item" id="specialitiesNav">
                        @*<i class="bi bi-people fa-xl"></i>*@
                        <i data-feather="calendar" stroke-width="1"></i>
                        <p class="mx-2 my-0">Specialities</p>
                    </div>
                </a>
              </div>
        </div>
    </div>
    
</aside>