@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="content-container d-flex justify-content-center align-items-center pt-5">
    <div class="form-container mt-5 pt-5">
        @if(ViewBag.ErrorTitle == null)
        {
            <p class="fs-1 fw-lighter">Error.</p>
            <p class="fs-3 fw-lighter">An error occurred while processing your request.</p>
            <p class="fs-3 fw-lighter">If the error persists please contact an administrator or your IT technician.</p>
        } else
        {
            <p class="fs-1 fw-lighter">@Html.Raw(ViewBag.ErrorTitle)</p>
            <p class="fs-3 fw-lighter">@Html.Raw(ViewBag.ErrorMessage)</p>
        }
    </div>  
</div>

@*@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@

