@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if(ViewBag.ErrorTitle == null)
{
    <h1 class="text-danger">Error.</h1>
    <p>An error occurred while processing your request.</p>
    <p>If the error persists please contact an administrator or your IT technician.</p>
} else
{
    <h1 class="text-danger">@Html.Raw(ViewBag.ErrorTitle)</h1>
    <p>@Html.Raw(ViewBag.ErrorMessage)</p>
}


@*@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@

