@{
    ViewData["Title"] = "Home Page";
}

<div class="content-container p-3">
    <div class="p-3 dark-5">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum cumque
            harum voluptates, rem dignissimos nobis non quasi officia iste. Commodi
            excepturi id voluptates itaque corrupti, veniam obcaecati delectus.
            Voluptatum sit cupiditate quae aliquid, porro doloremque velit libero
            temporibus quaerat natus quos alias ex vero illum suscipit, excepturi magnam
            nesciunt repellendus delectus quidem minus itaque culpa. Commodi dolores
            placeat voluptates ullam quia similique! Sequi quos vitae mollitia pariatur
            excepturi molestias et. Sapiente reprehenderit beatae delectus ipsam,
            doloremque hic natus reiciendis aliquam, commodi consequatur veniam ullam
            saepe error atque quaerat facilis illo illum expedita iusto dolore. Tempora
            distinctio neque, explicabo, rem fuga earum id suscipit natus maiores
            excepturi reiciendis repudiandae dolores facere quis quos facilis eos
            provident esse quam nihil praesentium non enim recusandae? Rem nulla impedit
            officiis ad et id sequi officia debitis eius dolorum recusandae eveniet eum
            quod, deserunt inventore fuga quasi laboriosam. Maxime laborum accusantium
            fugit quos velit ipsa animi magnam eum quibusdam laboriosam, unde
            perspiciatis pariatur dicta dignissimos. Vero molestias porro quasi esse,
            facere cumque, accusantium laudantium officia animi iure illo magnam dolorem
            repellat necessitatibus ab ipsum voluptate. Libero, impedit quidem soluta
            ratione rerum quod provident dolores ex vero consectetur explicabo sunt
            repellat qui quaerat nobis delectus laborum itaque nulla nemo ea
            perspiciatis a unde. Quae, nemo porro provident sunt sint quasi officia
            nobis molestiae illum aut, reprehenderit adipisci earum exercitationem
            quidem, debitis odio eos! Nostrum, non amet animi sunt natus a praesentium
            facere dolore vero, velit exercitationem inventore, voluptas eos? Officiis
            laudantium odit esse enim assumenda suscipit explicabo illum earum, sequi
            praesentium nobis aperiam. Culpa tempora itaque porro laboriosam soluta. At
            distinctio aliquid beatae atque, maiores sunt eos. Dicta molestiae,
            voluptatum odit corporis praesentium sint eum sed alias deserunt enim.
            Blanditiis ipsum non sint quaerat doloribus. Laudantium delectus quas,
            blanditiis numquam labore officiis ea officia aperiam magnam tempora ipsum
            ex dolorem fugit exercitationem animi vitae soluta molestiae aut. Quod
            mollitia tempora, sit maiores sed neque, tempore molestiae culpa illo
            explicabo debitis atque, quas labore? Aut nobis ea molestiae consectetur,
            nemo neque eos amet quae quibusdam officiis, provident suscipit illum
            adipisci maxime delectus, qui voluptatibus dignissimos sapiente dolorem
            earum a? Similique cum labore explicabo nihil! Id praesentium magnam
            reiciendis soluta aut cumque assumenda incidunt ullam molestiae quisquam,
            fugit maxime aliquid quis ea quo nulla excepturi voluptates ipsam illo
            provident voluptatum sequi, perferendis nostrum. Voluptas aliquid,
            asperiores placeat voluptatem fugiat temporibus nam inventore suscipit amet
            error a architecto iusto doloremque libero expedita. Molestias, assumenda?
            Sed unde nostrum, praesentium nihil iure eligendi quidem optio at non a
            voluptates tempora pariatur ipsam laborum? Eligendi libero id dolorem
            obcaecati quidem cupiditate, molestiae fuga voluptate quas minima deleniti
            fugiat tempore inventore quisquam. Veniam eveniet aut alias nulla eligendi
            officia! Id deleniti nihil incidunt molestiae fugit architecto amet ipsa,
            quaerat, fugiat, sapiente libero doloribus. Repudiandae maiores provident
            quae ipsa sapiente. Modi veniam deleniti vitae voluptas quis iste non
            quidem. Obcaecati enim a libero accusamus explicabo exercitationem sunt
            fugiat voluptatum molestiae minus! Doloribus ab voluptatum exercitationem
            qui? Laborum sequi itaque dolores id ex ea earum saepe, natus rem, magni
            optio modi, soluta pariatur quod enim quam fugiat harum incidunt! Et
            corporis amet quis eaque, ipsum praesentium cupiditate maxime, enim error
            dolorem alias quibusdam distinctio repudiandae dolorum repellat sint earum
            voluptatibus. Neque id cumque blanditiis, repellendus libero corporis veniam
            repudiandae eaque iure fugit vitae dicta quae earum architecto nemo
            molestias est possimus laborum! A deserunt fuga odit totam. Minima ea
            laborum natus fugiat enim esse cupiditate veritatis exercitationem
            necessitatibus consectetur voluptatem nemo dolor minus qui asperiores
            molestias quaerat excepturi, suscipit aliquid. Vel, harum corrupti! Eius
            exercitationem nostrum adipisci velit vel eveniet eum quo inventore nobis
            accusamus commodi delectus provident aperiam, mollitia suscipit quibusdam
            cum consequuntur veritatis sed ex. Ipsam odit amet excepturi quos dicta,
            deleniti id neque ab quaerat sed rerum quae dolor quisquam eum voluptates
            quibusdam officiis asperiores minima alias. At, ipsam magni possimus tempora
            nam fugiat quos quas delectus similique sint consectetur numquam aliquid
            illo repudiandae praesentium incidunt eos temporibus debitis harum commodi
            iure accusantium? Ex atque odio repudiandae distinctio. Nihil nulla et
            libero, dolorem aperiam repellat cumque dicta ea, vitae sunt adipisci
            eveniet atque accusantium est debitis. Ad minima quas praesentium deserunt
            incidunt architecto voluptatem saepe dicta delectus cupiditate. Similique
            laboriosam eum, libero error natus impedit, porro praesentium minus ducimus,
            eveniet qui rem accusantium quis facere alias quibusdam animi tenetur
            molestias? Libero rerum enim distinctio aliquam magnam sed impedit vel
            placeat asperiores et perspiciatis similique in expedita odio, praesentium,
            reiciendis mollitia aliquid ipsam nostrum sint. Quisquam distinctio qui
            dolor iusto corrupti similique consequatur animi fugiat ullam eveniet
            necessitatibus alias adipisci architecto reiciendis, praesentium corporis
            blanditiis perspiciatis facilis nesciunt. Beatae dolor, debitis nesciunt
            assumenda incidunt, suscipit eveniet sunt dolorum eos sint recusandae minus
            id doloremque laborum eaque minima explicabo! Libero voluptatibus ullam
            aspernatur, modi quia obcaecati dolore a, magnam dolores, dignissimos illum
            rem nemo atque doloremque accusantium sequi veritatis ratione labore facere
            earum reprehenderit. Optio voluptatibus sequi possimus dignissimos excepturi
            voluptate odio impedit laboriosam non nisi doloribus alias sunt autem unde,
            quidem ullam dolore. Atque sapiente eligendi placeat error facilis, ea dolor
            magni quidem repudiandae blanditiis consectetur ullam quis cumque molestias?
            Ea dolorum ad voluptates aspernatur debitis doloremque beatae autem
            voluptatum. Numquam omnis facere reprehenderit, animi sunt, iusto unde odio
            officiis nihil quod tempore culpa repellendus, sapiente tenetur possimus
            voluptatem aliquam odit natus ea rem! Architecto voluptatibus autem nulla
            laudantium eius voluptas qui maxime perspiciatis consequatur dolores
            eveniet, accusantium dignissimos officia distinctio commodi nemo totam nihil
            quidem optio voluptatum eum alias quos quam. Corrupti voluptatum illo
            deleniti officia quam qui nobis at eaque quod. Ab architecto itaque nisi id
            incidunt, velit minus vero, nobis temporibus quia nam. Dicta unde
            praesentium nihil ad ipsam, et placeat molestiae, adipisci quis nulla minus
            quam eaque suscipit nemo nisi ab facere. Vel velit, adipisci nisi vitae,
            nobis veritatis, culpa quaerat omnis voluptatum amet numquam vero nihil odit
            in eaque consequatur voluptates ipsa libero maxime nostrum nemo tempore
            accusamus ea. Natus asperiores aliquid quasi aperiam temporibus soluta sit
            vitae, dolorem, at aspernatur obcaecati? Molestias corporis voluptas
            eligendi pariatur sapiente porro corrupti, minus sed voluptatibus tempora,
            aperiam commodi repellat odit recusandae ullam doloremque! Ipsum vitae,
            explicabo quisquam et tempora suscipit fugiat necessitatibus. Minima omnis
            consectetur esse. At blanditiis hic veniam aperiam odit consectetur, dicta
            unde corporis ducimus qui deleniti debitis, quam quidem libero asperiores,
            quae mollitia sit magni adipisci ipsam facilis soluta? Recusandae molestiae,
            maxime eaque velit suscipit nihil reiciendis sit? Nemo adipisci est dolorum
            minus nulla voluptatem incidunt nostrum modi molestias, aliquam pariatur
            voluptatum accusamus distinctio eos reprehenderit veniam deleniti corrupti
            maiores, aliquid sequi culpa? Recusandae provident maiores omnis architecto
            culpa hic maxime eligendi cumque ipsum laborum error consequuntur, atque eos
            eveniet ad repudiandae perspiciatis minus quos dolor vel dolores illo! A et
            id eligendi, laudantium voluptas exercitationem accusantium temporibus quae
            dolor consectetur expedita, facere, saepe neque dolores itaque. Voluptas
            excepturi aliquam quo ipsa dolore ad suscipit tempora modi non, provident
            voluptatum, eligendi voluptatibus amet temporibus possimus accusantium
            aspernatur consequatur fuga libero veniam, quia vel. Molestias perferendis
            libero corrupti ad, soluta necessitatibus assumenda rerum tempora vel earum
            ipsum sint alias repellendus repellat rem sequi omnis incidunt aperiam
            provident sit nesciunt. Ipsam, architecto? Sed corrupti est vel nobis quas
            eum ullam et ducimus tempore facilis atque enim hic minima eos animi itaque
            fuga ad, dignissimos velit voluptates. Deleniti at ullam, iusto tempore
            voluptatum sunt repellendus qui perspiciatis in sapiente temporibus
            laboriosam a delectus! Quasi sint officia deserunt dolore, voluptate eum nam
            tempora neque nihil aut esse odit molestias facere vitae officiis illo
            necessitatibus quas molestiae provident incidunt exercitationem blanditiis
            earum qui assumenda? Laborum recusandae repellendus magnam expedita impedit
            quaerat voluptate! Sapiente, soluta porro delectus totam magnam voluptatibus
            nemo quasi incidunt nesciunt quae ipsa veritatis tempore, nisi repellat
            officiis sed repudiandae eaque modi iure molestias ducimus sit nobis nihil?
            Debitis temporibus nobis, nulla tempora placeat soluta tenetur? Dignissimos
            dolore velit temporibus facilis unde nam, porro perspiciatis quam at.
            Assumenda cum vitae aliquid? Quibusdam recusandae fugiat atque maiores, quos
            cum optio voluptate exercitationem fuga distinctio temporibus ea harum
            obcaecati quia illo beatae ullam assumenda quaerat perferendis quas?
            Architecto obcaecati aut tenetur sunt tempora sapiente cupiditate voluptates
            reprehenderit labore laudantium accusamus cum, doloribus quia voluptatum
            ducimus, magnam, ipsum explicabo suscipit! Dolores excepturi ipsum rem quae
            omnis dolore dolorem amet, porro corporis. Eius voluptas voluptatum, quos
            adipisci voluptatem veniam unde voluptates delectus dolore excepturi
            architecto obcaecati explicabo, consectetur iste impedit est tenetur sit
            consequatur pariatur cum et! Hic nulla, magnam, suscipit excepturi veniam
            fuga quisquam, error dolore sapiente quia neque voluptatibus optio sint a
            earum doloremque officiis maiores numquam facere? Id optio architecto
            ducimus quidem, deserunt laudantium saepe et dolores molestias nam itaque
            sit odio in fugiat impedit, quo, fuga reiciendis. Numquam ipsa error culpa
            hic, amet exercitationem aliquam id minus vero? Repellendus numquam eos
            magni quidem quis temporibus facilis eligendi aperiam, eius voluptatibus
            architecto quo voluptates cumque doloremque recusandae harum deleniti quos
            doloribus ipsum similique facere rerum sequi quae! Modi eveniet quam rerum
            impedit, aspernatur dolores. Adipisci, cum iure quaerat tenetur dolorum,
            nesciunt laudantium, excepturi ea saepe nihil aliquid? Molestiae illo rerum
            dolor excepturi soluta aliquam alias praesentium quibusdam quos? Eaque
            minima animi veritatis quibusdam. Pariatur ipsa tenetur quas excepturi
            facilis architecto a quidem veniam modi, corporis incidunt, illo beatae
            voluptates aspernatur! Natus ipsum repellat, vel odio incidunt sit aperiam,
            ut quae possimus illum fugiat deleniti nihil at ea itaque hic quos sint
            architecto? Error ad commodi nobis incidunt ipsum cumque tempore amet,
            perspiciatis iusto tenetur. Eius officiis quisquam fugiat id nisi sequi
            possimus magnam laboriosam in magni! Similique, dicta asperiores repudiandae
            praesentium culpa suscipit eveniet cum temporibus! Labore mollitia a impedit
            officiis amet quia quaerat! Fuga harum voluptas alias dolore officiis ipsam
            quae optio sapiente consectetur culpa praesentium, vitae omnis neque! Ullam
            debitis nemo tenetur numquam repudiandae asperiores ex labore! Illo, vitae!
            Esse eveniet, delectus voluptas itaque aperiam voluptatibus inventore vitae
            debitis labore aliquam, rem, numquam amet natus maxime possimus?
            Perspiciatis temporibus vel culpa ut, dolores dolorem voluptatum aperiam,
            totam itaque officia reiciendis maiores inventore doloremque quas nihil
            voluptas? Eaque sequi minus itaque corporis reiciendis dolor, iusto quia
            delectus optio blanditiis ullam earum rerum, omnis quaerat reprehenderit
            necessitatibus. Expedita rerum similique provident, nobis distinctio
            reprehenderit dicta quasi! Debitis enim aperiam dolorem deleniti voluptatem
            iste fuga quos officiis amet sed eligendi vel, at possimus nulla ullam
            aliquam consectetur delectus quis commodi? Facilis quisquam neque enim
            dicta, voluptas repellendus laboriosam? Atque vitae autem voluptatum
            repellat aperiam at optio minus. Culpa dolore enim officiis beatae ullam est
            ut reiciendis magnam eveniet. Tempora repellat alias quia blanditiis quidem
            ea perferendis sequi dolor doloribus quo, adipisci similique sunt sint
            eveniet aliquid omnis. Obcaecati ab ea a expedita officia in eveniet
            provident recusandae itaque. Quam exercitationem sit impedit quisquam,
            corrupti beatae harum voluptas iusto neque perspiciatis modi veniam aliquam
            aperiam esse veritatis at porro rerum. Molestiae perspiciatis sit sequi illo
            delectus necessitatibus, id, nam ex facilis voluptate labore molestias ipsam
            cupiditate est quo placeat sint eaque, eius at exercitationem quidem soluta!
            Maiores aspernatur porro neque sapiente voluptatibus! Distinctio expedita
            odio, aut iste quisquam et eligendi sint libero nam voluptatibus laborum
            excepturi velit aliquid in amet accusantium assumenda quaerat nobis quia
            nostrum ducimus fuga. Tempora, sed voluptatum id animi totam adipisci odio
            commodi accusantium reiciendis natus officiis dolorem doloribus ducimus.
            Consequatur voluptatum dolorum dolorem expedita similique illum commodi
            asperiores hic optio ea cupiditate deleniti porro mollitia fugiat odio earum
            nam temporibus impedit sed, vel vero omnis molestiae! Consequatur nisi, quis
            natus tempore fuga aut assumenda. Possimus delectus id ipsa soluta laborum
            recusandae enim, non dicta eum debitis voluptate, numquam odit hic vel
            alias? Suscipit pariatur adipisci, unde repellat consequuntur nihil saepe
            dolore facere sed ut magnam minus sit vitae maiores libero dolorem aperiam
            explicabo cum similique modi? Perspiciatis nemo, minima saepe molestias
            magnam incidunt minus ut dolore? Voluptas iste delectus eaque obcaecati?
            Odio tenetur iste ipsam consectetur ullam eaque, quisquam sit incidunt
            excepturi non hic ratione, perferendis ad voluptatem eos recusandae culpa
            pariatur tempore! Illum culpa, laudantium laborum maiores ut ab incidunt
            quisquam itaque. Vitae debitis dolores, dolorum, officiis laborum,
            voluptatibus unde excepturi quas facilis tempora aut rem laudantium?</p>
        </div>
    </div>
</div>
