@{
    ViewData["Title"] = "Home Page";
}

<div class="content-container py-3">
    <div class="landing-image">
        <div class="overlay-image dark-5">
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
                <h1 class="landing-title">We care for your pets</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-xl px-3 pb-3">
    <div class="services-section d-flex flex-column justify-content-around align-items-center p-5">
        <div class="services-title-container text-center my-5">
            <h3 class="services-subtitle mb-3">Our professional services</h3>
            <h2 class="services-title">Best Pet Care Services</h2>
        </div>
        <div class="row w-100 mb-5">
            <div class="col-4">
                <div class="card dark-5 px-4 py-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card dark-5 px-4 py-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card dark-5 px-4 py-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function() {
            
            $("#homeNav").addClass("active");
        });
    </script>
}