@using Newtonsoft.Json
@model VetManage.Web.Models.EditUserViewModel

@{
    
}

<!-- Form Modal -->
<div class="modal fade" id="detailsUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form asp-action="Delete" id="deleteUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="userId" type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input id="firstNameDelete" asp-for="FirstName" class="form-control" readonly/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input id="lastNameDelete" asp-for="LastName" class="form-control" readonly/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input id="phoneNumberDelete" asp-for="PhoneNumber" class="form-control" readonly/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input id="addressDelete"  asp-for="Address" class="form-control" readonly/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" id="btnDelete" data-item="@JsonConvert.SerializeObject(Model)" class="btn btn-Danger"/>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}