@model VetManage.Web.Models.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<div class="content-container d-flex justify-content-center align-items-center pt-5">
    <div class="form-container mt-5 pt-5">
        <form method="post" style="width: 350px">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="mb-3">
                <div class="d-flex justify-content-between">
                    <div class="form-check">
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input"/>
                        <label asp-for="RememberMe" class="form-check-label">RememberMe</label>
                    </div>
                    <button asp-action="Login" asp-controller="Account" type="submit" class="btn btn-success text-light">Login</button>
                </div>
            </div>
            @*<div class="mb-3">
                <button type="submit" class="btn btn-success">Login</button>
            </div>*@
        </form>
    </div>       
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function() {
            
            $("#loginNav").addClass("active");
        });
    </script>
}

                    