
@{
    ViewData["Title"] = "NotAuthorized";
}

<div class="content-container d-flex justify-content-center align-items-center pt-5">
    <div class="form-container mt-5 pt-5">
        <div>
            <p class="fs-1 fw-lighter">You're not authorized to access this page.</p>
        </div>
    </div>
</div>

