@model VetManage.Web.Models.Account.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}
<div class="content-container d-flex flex-column justify-content-center align-items-center pt-5">
    <div class="mt-5 pt-5">
        <flash dismissable="true"/>
    </div>
    <div class="form-container pt-3">
        <div>
            <p>Please enter your email.</p>
        </div>
        <form method="post" style="width: 350px">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>
            <div class="mb-3">
                <div class="d-flex justify-content-end">
                    <button asp-action="RecoverPassword" asp-controller="Account" type="submit" class="btn btn-primary text-light">Recover</button>
                </div>
            </div>
        </form>
    </div>       
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

                    