@model VetManage.Web.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
}
<div class="content-container d-flex flex-column justify-content-center align-items-center pt-5">
    <div class="mt-5 pt-5">
        <flash dismissable="true"/>
    </div>
    <div class="form-container pt-3">
        <div>
            <p>Please enter the data required to reset your password.</p>
        </div>
        <form method="post" style="width: 350px">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Token" class="form-control"/>
            <div class="mb-3">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>
            <div class="mb-3">
                <div class="d-flex justify-content-end">
                    <button asp-action="ResetPassword" asp-controller="Account" type="submit" class="btn btn-primary text-light">Reset</button>
                </div>
            </div>
            @*<div class="mb-3">
                <button type="submit" class="btn btn-success">Login</button>
            </div>*@
        </form>
    </div>       
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

                    