@using Syncfusion.EJ2.Schedule
@using Syncfusion.EJ2

@model VetManage.Web.Models.Calendar.CalendarViewModel

@{
    ViewData["Title"] = "Index";

    int[] workDays = new int[] { 0, 1, 2, 3, 4, 5, 6 };

    DateTime minVal= new DateTime(2000,01,01, 07,00,00);
    DateTime maxVal = new DateTime(2000,01,01, 18,00,00);

    ScheduleTimeScale timeScale = new ScheduleTimeScale
    {
        Interval = 60,
        SlotCount = 2,
    };

    ScheduleWorkHours workHours = new ScheduleWorkHours
    {
        Start = "07:00",
        End = "18:00",
        Highlight = true
    };

    List<ScheduleView> viewOptions = new List<ScheduleView>
    {
        new ScheduleView
        {
            Option = Syncfusion.EJ2.Schedule.View.Day,
            StartHour = "07:00",
            EndHour = "18:00",
            TimeScale = timeScale,
        },
        new ScheduleView 
        { 
            Option = Syncfusion.EJ2.Schedule.View.Week,
            FirstDayOfWeek = 0,
            StartHour = "07:00",
            EndHour = "18:00",
            TimeScale = timeScale,
        },
        new ScheduleView 
        { 
            Option = Syncfusion.EJ2.Schedule.View.Month,
            //Readonly = true,
        },
    };

    List<object> menuItems = new List<object>();

    menuItems.Add(new
    {
        text = "New Event",
        iconCss = "e-icons new",
        id = "Add"
    });
    menuItems.Add(new
    {
        text = "Edit Event",
        iconCss = "e-icons edit",
        id = "Save"
    });
    menuItems.Add(new
    {
        text = "Delete Event",
        iconCss = "e-icons delete",
        id = "Delete"
    });
}

<div class="content-container p-3">
    <div class="dark-5 pt-3">
        <div class="d-flex d-row justify-content-between mx-3 mb-3">
            <h1>Appointments</h1>
            <div class="m-1">
                <a asp-action="Create" id="btnNewAppointment" class="btn btn-outline-light">New Appointment</a>
            </div>
        </div>
        <ejs-schedule id="schedule" views="viewOptions" workDays="workDays" popupOpen="onPopupOpen" resizeStop="onDragStop" dragStart="onDragStart"  dragStop="onDragStop" showQuickInfo="false" workHours="workHours" width="100%" height="1000px">
            <e-schedule-eventsettings dataSource="Model.Appointments" enableTooltip="true"></e-schedule-eventsettings>
        </ejs-schedule>
    </div>
</div>

@*<ejs-schedule id="schedule" views="viewOptions" showQuickInfo="false" workHours="workHours" width="100%" height="1000px">
    <e-schedule-eventsettings dataSource="Model.Appointments" enableTooltip="true"></e-schedule-eventsettings>
</ejs-schedule>*@

<partial name="_Create" model="Model.Appointment"/>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#calendarNav").addClass("active");
            $("#calendarNav").addClass("bg-dark");
        });
    </script>
}
<script type="text/javascript">
    function onPopupOpen(args) {
            // cancel the default modal from the scheduler
            args.cancel = true;

            let date = offsetDateTimezoneToJson(args.data.StartTime);

            console.log(args);
            // if the the user clicked an appointment
            if (args.data.Id === undefined) {
                window.location.href = "/Calendar/Create/?" + `date=${date}`;
            } else {
                window.location.href = "/Calendar/Edit/" + args.data.Id;
            }
        }

    function onDragStart(args) {
        //console.log(args);
    }

    function onDragStop(args) {
        console.log(args);
        let startTime = new Date(args.data.StartTime)
        let endTime = new Date(args.data.EndTime)

        args.data.StartTime = offsetDateTimezoneToJson(args.data.StartTime);
        args.data.EndTime = offsetDateTimezoneToJson(args.data.EndTime);
        args.data.StartTimeString = getShortTimeString(startTime);
        args.data.EndTimeString = getShortTimeString(endTime);

        $.ajax({
            type: "POST",
            url: "/Calendar/EventDrag",
            data: args.data,
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                alert("Hello: " + response.Name + ".\nCurrent Date and Time: " + response.DateTime);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function onResizeStop(args){
        console.log(args);
    }

    function getShortTimeString(date) {
        let hours = date.getHours();
        let minutes = date.getMinutes();

        if (minutes === 0) {
            return `${hours}:${minutes}0`;
        } else {
            return `${hours}:${minutes}`;
        }
    }

    function offsetDateTimezoneToJson(date) {
        return new Date(date.getTime() - (date.getTimezoneOffset() * 60000)).toJSON();
    }
</script>
