@model VetManage.Web.Models.Pets.PetsManagingViewModel

@{
    ViewData["Title"] = "New Pet";
}

<div class="content-container p-3">
    <div class="dark-5">
        <div class="p-3 d-flex justify-content-between align-items-center border-bottom">
            <a asp-action="Index" class="btn btn-outline-light">Back</a>
            <h2>New Owner</h2>
        </div>
        <div class="p-3">
            <form asp-action="Create" class="flex-fill" method="post" style="max-width: 1200px;" id="registerVetsForm" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="PetViewModel.ImageUrl" id="imageUrl" class="form-control" style="visibility: hidden;"/>
                <div class="row">
                    <div class="mb-4">
                        <label asp-for="PetViewModel.Name">Owner</label>
                        <input type="text" id="owner" class="form-control"/>
                        <span asp-validation-for="PetViewModel.Owner.Id" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="h-100">
                            <div class="image-preview border-opacity-50 d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/images/noimage.png")')">
                                <label class="btn btn-outline-light border-0 d-flex flex-column pt-1">
                                    <i data-feather="upload" stroke-width="1"></i>
                                    <input asp-for="PetViewModel.ImageFile" class="img" id="imageFile" type="file" style="width: 0px;height: 0px;overflow: hidden;"/>
                                </label>
                            </div>
                            <span asp-validation-for="PetViewModel.ImageUrl" class="text-danger" id="imgUrlValidation"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label asp-for="PetViewModel.Name">Name</label>
                            <input id="firstName" asp-for="PetViewModel.Name" class="form-control"/>
                            <span asp-validation-for="PetViewModel.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="PetViewModel.Type">Species</label>
                            <input id="lastName" asp-for="PetViewModel.Type" class="form-control"/>
                            <span asp-validation-for="PetViewModel.Type" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="PetViewModel.Breed">Breed</label>
                            <input id="username" asp-for="PetViewModel.Breed" class="form-control" />
                            <span asp-validation-for="PetViewModel.Breed" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="PetViewModel.Gender">Gender</label>
                            <input id="gender" asp-for="PetViewModel.Gender" class="form-control"/>
                            <span asp-validation-for="PetViewModel.Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label asp-for="PetViewModel.DateOfBirth">DateOfBirth</label>
                            <input id="dateOfBirth" asp-for="PetViewModel.DateOfBirth" class="form-control"/>
                            <span asp-validation-for="PetViewModel.DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="PetViewModel.Weight">Weight</label>
                            <input id="address" asp-for="PetViewModel.Weight" class="form-control" />
                            <span asp-validation-for="PetViewModel.Weight" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="PetViewModel.Height">Height</label>
                            <input id="mobileNumber" asp-for="PetViewModel.Height" class="form-control" />
                            <span asp-validation-for="PetViewModel.Height" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="PetViewModel.Length">Length</label>
                            <input id="mobileNumber" asp-for="PetViewModel.Length" class="form-control" />
                            <span asp-validation-for="PetViewModel.Length" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a asp-action="Index" class="btn btn-danger">Cancel</a>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="_OwnersModal" model="Model.Owners" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function() {
            // Datatable
            let table = $("#ownersTable").DataTable({
                "pageLength": 5
            });

            $('#ownersTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $("#owner").focus(function(){
                $("#chooseOwner").modal("show");
            });

            $("#chooseOwner").on('hide.bs.modal', function(e){
                console.log(e);
            });
        });

        // Preview image
            $(function() {
                $(document).on("change","#imageFile", function()
                {
    		        let uploadFile = $(this);
                    let files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
 
                    if (/^image/.test( files[0].type)){ // only image file
                        let reader = new FileReader(); // instance of the FileReader
                        reader.readAsDataURL(files[0]); // read the local file
 
                        reader.onloadend = function(){ 
                            // set image data as background of div
                            $('.image-preview').css("background-image", "url("+this.result+")");

                            // set the image url property
                            $('#imageUrl').val(`${files[0].name}`);

                            // remove validation span
                            $('#imgUrlValidation').removeClass("field-validation-error");
                            $('#imgUrlValidation').addClass("field-validation-valid");
                            $('#imageUrl-error').remove();
                        }
                    }
      
                });
            });
    </script>
}
