@using Newtonsoft.Json
@model VetManage.Web.Models.Pets.PetViewModel

@{
    ViewData["Title"] = "New Pet";
}

<div class="content-container p-3">
    <div class="dark-5">
        <div class="p-3 d-flex justify-content-between align-items-center border-bottom">
            <a asp-action="Index" class="btn btn-outline-light">Back</a>
            <h2>New Owner</h2>
        </div>
        <div class="p-3 mt-4">
            <button class="btn btn-outline-light" id="chooseOwnerBtn">Choose Owner</button>
        </div>
        <div class="p-3">
            <form asp-action="Create" class="flex-fill" method="post" style="max-width: 1200px;" id="registerVetsForm" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col">
                        <div class="mb-4">
                            <label asp-for="Name">Owner Id</label>
                            <input asp-for="OwnerId" type="text" id="ownerId" class="form-control"/>
                            <span asp-validation-for="OwnerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label asp-for="Name">Owner's First Name</label>
                            <input id="ownerFirst" type="text" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label asp-for="Name">Owner's Last Name</label>
                            <input id="ownerLast" type="text" class="form-control" readonly/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="h-100">
                            <div class="image-preview border-opacity-50 d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/images/noimage.png")')">
                                <label class="btn btn-outline-light border-0 d-flex flex-column pt-1">
                                    <i data-feather="upload" stroke-width="1"></i>
                                    <input asp-for="ImageFile" class="img" id="imageFile" type="file" style="width: 0px;height: 0px;overflow: hidden;"/>
                                </label>
                            </div>
                            <span asp-validation-for="ImageUrl" class="text-danger" id="imgUrlValidation"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Type">Species</label>
                            <input asp-for="Type" class="form-control"/>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Breed">Breed</label>
                            <input asp-for="Breed" class="form-control" />
                            <span asp-validation-for="Breed" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Gender">Gender</label>
                            <input asp-for="Gender" class="form-control"/>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label asp-for="DateOfBirth">DateOfBirth</label>
                            <input type="date" id="dateOfBirth" asp-for="DateOfBirth" class="form-control"/>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Weight">Weight</label>
                            <input asp-for="Weight" class="form-control" />
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Height">Height</label>
                            <input asp-for="Height" class="form-control" />
                            <span asp-validation-for="Height" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Length">Length</label>
                            <input asp-for="Length" class="form-control" />
                            <span asp-validation-for="Length" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a asp-action="Index" class="btn btn-danger">Cancel</a>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>
                <input asp-for="ImageUrl" id="imageUrl" class="form-control" style="visibility: hidden; height: 0px;"/>
            </form>
        </div>
    </div>
</div>

<partial name="_OwnersModal" model="@ViewData["Owners"]" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function() {
            // Datatable
            let table = $("#ownersTable").DataTable({
                "pageLength": 5,
            });

            $("#confirmSelection").click(function() { 
                let selectedRow = $(".selected");
                let ownerId = selectedRow.data("ownerId")
                let owner = selectedRow.data("owner")

                console.log(owner);

                if(ownerId !== undefined){
                    // set the owners values
                    $("#ownerId").val(owner.Id);
                    $("#ownerFirst").val(owner.FirstName);
                    $("#ownerLast").val(owner.LastName);

                    // close modal
                    $("#chooseOwner").modal("hide");
                    $("#ownerId-error").remove();
                }
            });

            $('#ownersTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $("#ownerId").focus(function(){
                $("#chooseOwner").modal("show");
            });

            $("#chooseOwnerBtn").click(function(){
                $("#chooseOwner").modal("show");
            });
        });

        // Preview image
            $(function() {
                $(document).on("change","#imageFile", function()
                {
    		        let uploadFile = $(this);
                    let files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
 
                    if (/^image/.test( files[0].type)){ // only image file
                        let reader = new FileReader(); // instance of the FileReader
                        reader.readAsDataURL(files[0]); // read the local file
 
                        reader.onloadend = function(){ 
                            // set image data as background of div
                            $('.image-preview').css("background-image", "url("+this.result+")");

                            // set the image url property
                            $('#imageUrl').val(`${files[0].name}`);

                            // remove validation span
                            $('#imgUrlValidation').removeClass("field-validation-error");
                            $('#imgUrlValidation').addClass("field-validation-valid");
                            $('#imageUrl-error').remove();
                        }
                    }
      
                });
            });
    </script>
}
