@model VetManage.Web.Models.VetViewModel

<!-- Form Modal -->
<div class="modal fade" id="crudVet" tabindex="-1" role="dialog" aria-labelledby="vetFormTitle" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <div class="container">
            <div class="d-flex align-items-center justify-content-center">
                <h5 class="modal-title" id="vetFormTitle">New Vet</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
      </div>
      <div class="modal-body bg-dark">
        <div class="d-flex align-items-center justify-content-center mt-md-5 pt-md-5">
            <form class="flex-fill" method="post" style="max-width: 500px;" id="vetsForm" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" class="form-control"/>
                <input asp-for="ImageUrl" id="imageUrl" class="form-control" style="visibility: hidden;"/>
                <div class="mb-3">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <div class="image-preview border-opacity-50 d-flex justify-content-center align-items-center" style="background-image: url(@Url.Content(@Model.ImageUrl))">
                        <label class="btn btn-outline-light border-0 d-flex flex-column pt-1">
                            <i data-feather="upload" stroke-width="1"></i>
                            <input asp-for="ImageFile" class="img" id="imageFile" type="file" style="width: 0px;height: 0px;overflow: hidden;"/>
                        </label>
                    </div>
                    <span asp-validation-for="ImageUrl" class="text-danger" id="imgUrlValidation"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" id="userSelect" asp-items="Model.Users" class="form-control">
                        <option value="">-- Select a User --</option>
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="FirstName">First Name</label>
                    <input id="firstName" asp-for="FirstName" class="form-control"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LastName">Last Name</label>
                    <input id="lastName" asp-for="LastName" class="form-control"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Gender">Gender</label>
                    <input id="gender" asp-for="Gender" class="form-control"/>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DateOfBirth">DateOfBirth</label>
                    <input id="dateOfBirth" asp-for="DateOfBirth" class="form-control"/>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Address">Address</label>
                    <input id="address" asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="MobileNumber">Mobile Number</label>
                    <input id="mobileNumber" asp-for="MobileNumber" class="form-control" />
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="btnCancel" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button asp-action="Edit" id="submitEditVet" type="submit" class="btn btn-success">Save</button>
                        <button asp-action="Delete" id="deleteVet" type="submit" class="btn btn-success">Delete</button>
                        <button asp-action="Create" id="createVet" type="submit" class="btn btn-success">Create</button>
                        <button id="enableEditVet" type="button" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
