@model VetManage.Web.Models.Vets.VetDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="content-container p-3">
    <div class="dark-5">
        <div class="p-3 d-flex justify-content-between align-items-center border-bottom">
            <a asp-action="Index" class="btn btn-outline-light">Back</a>
            <h2>Vet Details</h2>
        </div>
        <div class="p-3">
            <div class="flex-fill" style="max-width: 1200px;">
                <div class="row">
                    <div class="col">
                        <div class="h-100">
                            <div class="image-preview border-opacity-50 d-flex justify-content-center align-items-center" style="background-image: url(@Url.Content(@Model.VetViewModel.ImageFullPath))">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label asp-for="VetViewModel.FirstName">First Name</label>
                            <input id="firstName" asp-for="VetViewModel.FirstName" class="form-control"readonly/>
                        </div>
                        <div class="mb-4">
                            <label asp-for="VetViewModel.LastName">Last Name</label>
                            <input id="lastName" asp-for="VetViewModel.LastName" class="form-control"readonly/>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Username">Username</label>
                            <input id="dateOfBirth" asp-for="Username" class="form-control"readonly/>
                        </div>
                        <div class="mb-4">
                            <label asp-for="VetViewModel.Gender">Gender</label>
                            <input id="gender" asp-for="VetViewModel.Gender" class="form-control"readonly/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <label asp-for="VetViewModel.DateOfBirth">DateOfBirth</label>
                            <input id="dateOfBirth" asp-for="VetViewModel.DateOfBirth" class="form-control"readonly/>
                        </div>
                        <div class="mb-4">
                            <label asp-for="VetViewModel.Address">Address</label>
                            <input id="address" asp-for="VetViewModel.Address" class="form-control" readonly/>
                        </div>
                        <div class="mb-4">
                            <label asp-for="VetViewModel.MobileNumber">Mobile Number</label>
                            <input id="mobileNumber" asp-for="VetViewModel.MobileNumber" class="form-control" readonly/>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a asp-action="Edit" asp-route-id="@Model.VetViewModel.Id" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>