@model VetManage.Web.Models.Messages.MessageViewModel

@{
    ViewData["Title"] = "SingleMessage";
}

<div class="content-container p-3">
    <div class="dark-5">
        <div class="p-3 d-flex justify-content-between align-items-center border-bottom">
            <a asp-action="Create" class="btn btn-outline-light">New Message</a>
            <h2>Inbox</h2>
        </div>
        <div class="row">
            <div class="col-2 pe-0">
                <partial name="_SidebarMessages"/>
            </div>
            <div class="col-10 pt-3 px-3">
                <div class="row mb-2">
                    <label class="col-1 col-form-label">From: </label>
                    <div class="col-11">
                        <input asp-for="SenderName" class="form-control" readonly />
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-1 col-form-label">Subject: </label>
                    <div class="col-11">
                        <input asp-for="Subject" class="form-control" readonly />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-1"></div>
                    <div class="col-11">
                        @Html.Raw(@Model.Body)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function() {

            $("#messagesNav").addClass("active");
            $("#messagesNav").addClass("bg-dark");

            //$("#inboxNav").addClass("active");
            //$("#inboxNav").addClass("bg-dark");
        });
    </script>
}
