@model VetManage.Web.Models.EditUserViewModel

@{
    
}

<!-- Form Modal -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <div class="container">
            <div class="div d-flex align-items-center justify-content-center">
                <h5 class="modal-title" id="userEditFormTitle">Edit User</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
      </div>
      <div class="modal-body bg-dark">
          <div class="d-flex align-items-center justify-content-center mt-md-5 pt-md-5">
              <form class="flex-fill" id="usersEditForm" method="post" style="max-width: 500px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input id="userIdEdit" type="hidden" asp-for="Id" class="edit-form-control"/>
                <div class="mb-3">
                    @*<label asp-for="ImageFile" class="control-label"></label>*@
                    <label class="control-label">Image</label>
                    <div class="image-preview border-opacity-50 d-flex justify-content-center align-items-center">
                        <label class="btn btn-outline-light border-0 d-flex flex-column pt-1">
                            <i data-feather="upload" stroke-width="1"></i>
                            <input class="img" id="imageFile" type="file" style="width: 0px;height: 0px;overflow: hidden;"/>
                        </label>
                    </div>
                    @*<label class="btn btn-outline-light">
                        Upload
                        <input class="img" id="imageFile" type="file" style="width: 0px;height: 0px;overflow: hidden;"/>
                    </label>*@
                    @*<span asp-validation-for="ImageFile" class="text-danger"></span>*@
                </div>
                <div class="mb-3">
                    <label asp-for="RoleId" class="control-label"></label>
                    <input asp-for="RoleName" type="hidden" id="roleNameEdit"/>
                    <select asp-for="RoleId" asp-items="Model.Roles" id="selectRoleEdit" class="form-control edit-form-control"></select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input id="firstNameEdit" asp-for="FirstName" class="form-control edit-form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LastName" class="control-label"></label>
                    <input id="lastNameEdit" asp-for="LastName" class="form-control edit-form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input id="phoneNumberEdit" asp-for="PhoneNumber" class="form-control edit-form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Address" class="control-label"></label>
                    <input id="addressEdit"  asp-for="Address" class="form-control edit-form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="btnCancel" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button asp-action="Edit" id="submitEditUser" type="submit" class="btn btn-success">Save</button>
                        <button asp-action="Delete" id="deleteUser" type="submit" class="btn btn-success">Delete</button>
                        <button id="enableEditUser" type="button" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}