@use "../abstracts/abstracts" as *;

.feather-menu {
    width: 32px;
    height: 32px;
}

// sidebars
.feather-grid {
    width: 32px;
    height: 32px;
}

.feather-shield {
    width: 32px;
    height: 32px;
}

.feather-user {
    width: 32px;
    height: 32px;
}

.feather-shopping-cart {
    width: 32px;
    height: 32px;
}

.feather-plus-circle {
    width: 32px;
    height: 32px;
}

.feather-users {
    width: 32px;
    height: 32px;
}

.feather-calendar {
    width: 32px;
    height: 32px;
}

.feather-book-open {
    color: white;
}

.feather-edit {
    color: white;
}

.feather-trash-2 {
    color: white;
}
