@use "../abstracts/abstracts" as *;
@import '../../lib/bootstrap/scss/_functions.scss';

.content {
    margin-left: 0;
    margin-top: 90px;
    min-height: 90vh;
    &.open {
        margin-left: 250px;
    }

    &.closed {
        margin-left: 80px;
    }
}
